<%= styled_flash %>

<ul>
  <% @links.each do |link| %>
    <li id="link-<%= link.id %>">
      <a href="<%= link.url %>" target="_blank">
      <%= link.title %>
    </a>
      <form action="/delete-link" method="post">
        <input type="hidden" name="id" value="<%= link.id %>">k hbb b  b bbb 
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>

<form action='/url' method=post>
  <input type='text' name='new_url'>
  <input type='text' name='title'>
  <input type='submit' value='Submit'>
</form>
